/**
 * Forced dark theme version
 */

 :root {
  --background-body: #1a1a1a;
  --background: #161f27;
  --selection: #1c76c5;
  --text-main: #dbdbdb;
  --text-bright: #fff;
  --text-muted: #a9b1ba;
  --links: #41adff;
  --focus: #0096bfab;
  --border: #526980;
  --button-base: #3160e0;
  --button-hover: #1b4ed9;
  --scrollbar-thumb: var(--button-hover);
  --scrollbar-thumb-hover: rgb(0, 0, 0);
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb);
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: var(--background-body);
  color: var(--text-bright);
  margin: 0;
  max-width:1410px;
}

header {
  display: flex;
  background: #222222d6;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  padding: 8px 14px;
  position: fixed;
  top: 0;
}

header > h1 {
  margin: 0;
}

main {
  width: 100%;
  margin: auto;
  padding:0 14px;
  margin-top: 80px;
}


ul {
  list-style: none;
}

main > ul {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap:12px;
  padding: 0 100px;
  margin: 0;
}

li {
  position: relative;
  padding: 12px 16px;
  border-radius: 4px;
  transition: background 150ms;
  background-color: #333;
  cursor: pointer;
}

li h2 {
  margin: 0 0 8px 0;
  padding: 0;
}

li p {
  margin: 0 0 14px;
  padding: 0;
}

li:hover {
  background-color: #444;
}

/* Estilo para el campo de entrada de texto */
input[type="text"] {
  width: 94%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilo para el botón */
button, .create-task {
  text-decoration: none;
  padding: 10px 20px;
  color: #fff;
  background-color: var(--button-base);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background 150ms;
}

/* Cambiar el estilo del botón cuando se coloca el cursor encima */
button:hover, .create-task:hover {
  background-color: var(--button-hover);
}

input {
  transition:
    background-color 0.1s linear,
    border-color 0.1s linear,
    color 0.1s linear,
    box-shadow 0.1s linear,
    transform 0.1s ease;
  transition:
    background-color var(--animation-duration) linear,
    border-color var(--animation-duration) linear,
    color var(--animation-duration) linear,
    box-shadow var(--animation-duration) linear,
    transform var(--animation-duration) ease;
}

textarea {
  transition:
    background-color 0.1s linear,
    border-color 0.1s linear,
    color 0.1s linear,
    box-shadow 0.1s linear,
    transform 0.1s ease;
  transition:
    background-color var(--animation-duration) linear,
    border-color var(--animation-duration) linear,
    color var(--animation-duration) linear,
    box-shadow var(--animation-duration) linear,
    transform var(--animation-duration) ease;
}

input {
  color: #fff;
  color: var(--form-text);
  background-color: #161f27;
  background-color: var(--background);
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 6px;
  border: none;
  border-radius: 6px;
  outline: none;
}

textarea {
  color: #fff;
  color: var(--form-text);
  background-color: #161f27;
  background-color: var(--background);
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
  resize: vertical;
  border: #fff solid 0.1px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

form > button {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 12px;
  margin-top: 24px;
  color: var(--text-bright);
  text-align: center;
}


h1 {
  margin-bottom: 30px;
}

label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 18px;
  vertical-align: middle;
  color: var(--text-muted);
  text-align: left;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  padding: 8px 14px; 
  background: var(--background);
  color: var(--links);
}

.return-to-main {
  text-decoration: none;
  color: var(--links);
  font-size: 18px;
  font-weight: bold;
  transition: color 200ms;
}

.return-to-main:hover {
  color: var(--focus);
}